* {
  font-family: Arial, Helvetica, sans-serif;
}

.board {
  padding-top: 100%; /* make sure the board is square by setting the height equal to the width */
}

.board-colored {
  background-image: url(img/board_colored.svg);
}

.board-colorless {
  background-image: url(img/board_colorless.svg);
}
